.cat-page {
    background-color: #EAE7DC;
    color: #8D2216;
}

.cat-page h1 {
    padding: 30px 0;
    text-align: center;
    font-size: 4em;
    background: rgb(234,231,220);
    background: linear-gradient(0deg, rgba(234,231,220,1) 0%, rgba(179,140,0,1) 60%, rgba(143,112,0,1) 90%);
    color: #FFF;
}

.cat-grid {
    margin: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}