.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 110vh;
    padding: 70px 0;
    background-color: #EAE7DC;
    color: #8D2216;
}

.login-page a {
    text-decoration: none;
    color: #8D2216;
}

.login-beer-icon {
    width: 10%;
    margin-bottom: 30px;
}

.login-fb-btn {
    border-radius: 15px;
    background-color: #3E57B1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    height: 6vh;
    padding-right: 8.5%;
}

.login-fb-icon {
    width: 7.5%;
}

.login-input {
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: #D8D8D8;
    color: #8D2216;
    width: 35vw;
}

.login-submit-btn {
    background-color: #8D2216;
    border: 1px solid #8D2216;
    font-weight: bold;
    width: 35vw;
    border-radius: 20px;
}

.login-submit-btn:hover {
    background-color: #c56c62;
    border: 1px solid #c56c62;
}

.login-controls {
    text-align: center;
    margin-top: 30px;
}