.popular-items {
    width: 100%;
    height: 100vh;
    background-color: #EAE7DC;
    color: #C7251A;
}

.popular-items h2 {
    text-align: center;
    padding-top: 20px;
}

.popular-items-table {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}