.navbar {
  background-color: #E85A4F;
}

.navbar a {
  color: white !important;
  width: 40px;
  text-decoration: none;
}

.navbar .navbar-search-bar {
  margin: 0 auto;
  width: 40vw;
}

.navbar .navbar-login-btn {
  background-color: #E98074;
  border: 0;
  font-weight: bolder;
  font-size: 1.2em;
  width: 135px;
  margin-right: 15px;
  border-radius: 10px;
}

.navbar .navbar-login-btn:hover {
  background-color: #E98074;
}

.navbar .navbar-login-btn .navbar-login-icon {
  width: 25%;
  margin-left: 10px;
}

.navbar .navbar-logged-user {
  color: white;
  font-weight: bold;
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4px;
}

.navbar .navbar-logged-user .navbar-logged-user-avatar {
  width: 35px;
}

.navbar .navbar-logged-user .navbar-logged-user-dropdown {
  width: 10px;
  margin-left: 5px;
}

.navbar .navbar-shopping-cart {
  position: relative;
}

.navbar .navbar-shopping-cart-icon {
  width: 100%;
}

.navbar .navbar-shopping-cart-indicator {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar .navbar-accessibility-icon {
  width: 115%;
}

.accessibility-modal {
  z-index: 2;
  background-color: #EAE7DC;
  border-radius: 20px;
  height: 150px;
  width: 200px;
  border: 0;
  position: absolute;
  left: 70vw;
  top: 2vh;
}

.accessibility-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.accessibility-modal button {
  background-color: #E98074;
  border: 0;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
  color: #EAE7DC;
}

.accessibility-modal .font-size-controllers {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.accessibility-modal .accessibilty-modal-close {
  background-color: initial;
}