
.cat-item {
    width: 150px;
    margin: 0 auto;
}

.cat-item .cat-item-pic {
    background-color: white;
    border: 1px solid #E85A4F;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.cat-item .cat-item-pic img {
    width: 100%;
    height: 100%;
}

.cat-item .cat-item-title {
    font-weight: bold;
    color: #8D2216;
}

.cat-item .cat-item-desc {
    color: #8D2216;
    margin-top: -20px;
}

.cat-item .cat-item-price {
    font-weight: bold;
    color: #8D2216;
    font-size: 1.2em;
}